<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('layouts/header'); %>

    <title>Quản lý thành phố</title>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->

      <%-include ('layouts/navbar'); %>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <div class="card shadow mb-4">
              <div class="card-header py-2">
                <h6 class="m-0 font-weight-bold text-primary">
                  Quản lý thành phố
                </h6>
              </div>
              <div class="card-header py-3">
                <button
                  type="button"
                  class="btn btn-success"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Thêm thành phố
                </button>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Tên</th>
                        <th>Hình ảnh</th>
                        <th>Số tour</th>
                        <th>Số khách</th>
                        <th>Tùy chỉnh</th>
                      </tr>
                    </thead>

                    <tbody id="tab">
                      <% for(let data of cities){ %>
                      <tr style="text-align: center">
                        <td><%= data.name %></td>
                        <td>
                          <img
                            src="<%= data.image %>"
                            class="rounded mx-auto d-block"
                            style="width: 320px; height: 200px; padding: 0 0"
                          />
                        </td>
                        <td><%= data.tours.length %></td>
                        <td><%= data.visitors %></td>
                        <td>
                          <div class="panel-footer row">
                            <!-- panel-footer -->
                            <div
                              style="
                                width: 100%;
                                display: flex;
                                justify-content: space-around;
                              "
                            >
                              <form
                                method="GET"
                                action="cities/edit/<%= data.id %>"
                              >
                                <button type="submit" class="btn btn-primary">
                                  <span>Chỉnh sửa</span>
                                </button>
                              </form>
                              <button type="button" class="btn btn-danger">
                                <span
                                  class="delete"
                                  data-url="/cities/delete/<%= data.id%>"
                                  >Xóa</span
                                >
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
          data-backdrop="static"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Thêm thành phố
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form
                  action="/cities"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <div
                    class="post__img"
                    style="
                      display: flex;
                      flex-direction: column;
                      width: 700px;
                      height: 525px;
                      margin: auto;
                    "
                  >
                    <img
                      id="img"
                      src="https://firebasestorage.googleapis.com/v0/b/yourtour-c4d0f.appspot.com/o/default-image.jpg?alt=media&token=6907d130-31c7-4428-986b-b7c9a1690f2b"
                      style="
                        border: 2px solid #000;
                        margin: auto;
                        line-height: 50px;
                        display: block;
                        width: 700px;
                        height: 525px;
                      "
                    />
                  </div>
                  <label for="upload">Select a file:</label>
                  <input
                    type="file"
                    id="upload"
                    accept="image/*"
                    name="image"
                    required
                  />
                  <div class="form-group row">
                    <label
                      for="example-text-input"
                      class="col-md-2 col-form-label"
                      >ID</label
                    >
                    <div class="col-md-10">
                      <input
                        class="form-control"
                        type="text"
                        value=""
                        name="id"
                        id="id-input"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="example-text-input"
                      class="col-md-2 col-form-label"
                      >Tên</label
                    >
                    <div class="col-md-10">
                      <input
                        class="form-control"
                        type="text"
                        value=""
                        id="name-input"
                        name="name"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label
                      for="example-text-input"
                      class="col-md-2 col-form-label"
                      >Mô tả</label
                    >
                    <div class="col-md-10">
                      <textarea
                        class="form-control"
                        type="text"
                        id="description-input"
                        name="description"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                      id="btn-close"
                    >
                      Đóng
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModalCenter"
                    >
                      Lưu
                    </button>
                  </div>
                  <div
                    class="modal fade"
                    id="exampleModalCenter"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-centered"
                      role="document"
                    >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">
                            Xác nhận
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Bạn có chắc chắn muốn duyệt?
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            id="btn-cancel"
                          >
                            Hủy bỏ
                          </button>
                          <button type="submit" class="btn btn-primary">
                            Xác nhận
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <script src="/js/previewImg.js " defer></script>
    <script src="/js/deleteButton.js" defer></script>
  </body>
</html>
